.footer{
    position: fixed;
    bottom: 0;
    display:flex;
    justify-content: flex-end;
    background-color: #fff;
    color: #000;
}
.footer >span{
    font-size: 1rem;
    font-weight: 500;
}